@media screen and (max-width: 500px){
  .main-container-one p {
    width: 75%;
    font-size: 15px;
  }
  .main-container-two {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .first-container,
  .second-container,
  .third-container {
    width: 100%;
    justify-content: center;
  }
  .card-one,
  .card-two,
  .card-three,
  .card-four {
    width: 70%;
    margin-bottom: 20px;
  }
  .card-one p,
.card-two p {
  width: 90%;
}
.card-three p,
.card-four p {
  width: 72%;
}
}